body, html {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.header-text {
  position: absolute;
  top: 10vh;
  width: 100%;
  text-align: center;
}
.ghost {
  text-decoration: none;
  display: inline-block;
  padding: 11.25px 15px 10.5px 15px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 2px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  border: 4px solid #186b10;
  color: #186b10;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ghost:hover {
  background: #186b10;
  color: #fff;
  text-decoration: none;
}
.header-button {
  position: absolute;
  top: 60vh;
  text-align: center;
  width: 100%;
}
.header-img {
  background-image: url("plane-min.jpg");
  background-position: center center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}
#java-class {
  /*background-image: url('images/javaClass.jpg');
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-shadow:
    -1px -1px 0 #186b10,
    1px -1px 0 #186b10,
    -1px 1px 0 #186b10,
    1px 1px 0 #186b10;*/
}
section {
  min-height: 30vh;
}
h2 {
  line-height: 30vh;
  vertical-align: middle;
}

#footer {
  background-color: #171717;
  color: white;
  padding-top: 64px;
  padding-bottom: 64px;
}
#footer a {
  color: lightblue;
}
#copyright {
  width: 100%;
  text-align: center;
}
